/* Contenedor principal */
.viewMesero{
    width: 100vw;
    height: 100vh;
    background-color:#FFFFFF;
}

/* Estilos Sección Menú */
.menuSection{
    display: flex;
    flex-direction: column;
}
.billSection{
    outline:1px solid blueviolet;
}
.statusOrder{
    outline:1px solid red;
}
.salto{
    display: block;
}

.styleButtonMenu{
    margin: 5px;
    background-color: #FFFFFF;
    border: 1px solid #000000;

}

.styleButtonMenu:hover{
    background-color: #C23440;
    color:#FFFFFF;
    border:1px solid #C23440;
}

.orderbox{
    max-height: 65px;
    width: 290px;
}